* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 50%;
  margin: 0 auto;
}
.main-section {
  gap: 30px;
  width: 500px;
  height: 460px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 30px;
}
p {
  font-size: 20px;
}
h1 {
  color:#104C90;
  font-size: 30px;
  margin: 40px 0;
}
h2{
  color:#2E7AD3;
  
}
span {
  color: #ff8000;
}
.btn {
  width: 90px;
  padding: 5px;
  color: #f1f1f1;
  display: inline-block;
  text-decoration: none;
  background-color: #2e7ad3;
}
